.banner-header{
    width: 100%;
    height: 500px;
    background: transparent url('../../../assets/imgs/Retângulo\ 1.png') 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}