.form-flex-container{
    position: fixed;
    left: 0;
    top: 320px;
    left: 1400px;
    z-index: 99999;
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    width: 270px;
    height: 352px;
    background-color: #dbd9d9;

    box-shadow: 0px 0px 5px #00000029;
    border-radius: 4px;
    opacity: 1;

}

.form-description{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 60px;
    bottom: 24px;
}



.form-description-1{
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-align: left;
    font-size: 14px;
}

.form-description-2{
    text-align: left;
    letter-spacing: NaNpx;
    color: #DF0209;
    opacity: 1; 
    font-size: 22px;
    position: relative;
    bottom: 20px;   
}
.icon-form{
    position: relative;
    top: 20px;
    left: 20px;
}

svg .a-form{
    fill: #c5c5c5;
    position: absolute;
    left: 10px;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 40px;
    left: 20px;
}

input[name=nome] {
    background: url('../../assets/imgs/Grupo\ 32.png');
    background-repeat: no-repeat;
    background-position: 5%;
    width: 230px;
    height: 36px;
    border: 1px solid #c9c8c8;
    border-radius: 4px;
    padding-left: 40px;
    margin-bottom: 5px;
}

input[name=nome]:focus {
    outline: 0;
    padding-left: 40px;
}

input[placeholder=Nome]{
    font-size: 14px;
    letter-spacing: 0px;
    color: #00000061;
    opacity: 1;
}

input[name=email] {
    background: url('../../assets/imgs/black-envelope.png');
    background-repeat: no-repeat;
    background-position: 5%;
    width: 230px;
    height: 36px;
    border: 1px solid #c9c8c8;
    border-radius: 4px;
    padding-left: 40px;
    margin-bottom: 5px;
}

input[name=email]:focus {
    outline: 0;
    padding-left: 40px;
}

input[placeholder=Email]{
    font-size: 14px;
    letter-spacing: 0px;
    color: #00000061;
    opacity: 1;
}

input[name=telefone] {
    background: url('../../assets/imgs/call-answer.png');
    background-repeat: no-repeat;
    background-position: 5%;
    width: 230px;
    height: 36px;
    border: 1px solid #c9c8c8;
    border-radius: 4px;
    padding-left: 40px;
    margin-bottom: 5px;
}

input[name=telefone]:focus {
    outline: 0;
    padding-left: 40px;
}

input[placeholder=Telefone]{
    font-size: 14px;
    letter-spacing: 0px;
    color: #00000061;
    opacity: 1;
}

select[name=horario] {
    background: url('../../assets/imgs/clock-circular-outline.png');
    background-repeat: no-repeat;
    background-position: 5%;
    width: 230px;
    height: 36px;
    border: 1px solid #c9c8c8;
    border-radius: 4px;
    padding-left: 40px;
    margin-bottom: 5px;
}

select[name=horario]:focus {
    outline: 0;
    padding-left: 40px;
}


option[value=choose]{
    font-size: 14px;
    letter-spacing: 0px;
    color: #00000061;
    opacity: 1;
}

select[name=local] {
    background: url('../../assets/imgs/facebook-placeholder-for-locate-places-on-maps.png');
    background-repeat: no-repeat;
    background-position: 5%;
    width: 230px;
    height: 36px;
    border: 1px solid #c9c8c8;
    border-radius: 4px;
    padding-left: 40px;
    margin-bottom: 5px;
}

select[placeholder=local] {
    font-size: 14px;
    letter-spacing: 0px;
    color: #00000061;
    opacity: 1;
}

select[name=local]:focus {
    outline: 0;
    padding-left: 40px;
}


option[value=local1],option[value=local2],option[value=local3]{
    font-size: 14px;
    letter-spacing: 0px;
    color: #00000061;
    opacity: 1;
}

select[name=local] {
    background: url('../../assets/imgs/facebook-placeholder-for-locate-places-on-maps.png');
    background-repeat: no-repeat;
    background-position: 5%;
    width: 230px;
    height: 36px;
    border: 1px solid #c9c8c8;
    border-radius: 4px;
    padding-left: 40px;
    margin-bottom: 5px;
}

.button-form{
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #1CB72A;
    border-radius: 4px;
    opacity: 1;
    width: 230px;
    height: 45px;
    cursor: pointer;
}

/*RESPONSIVIDADE DO COMPONENTE FORM*/


@media(max-width:1680px) {
    .form-flex-container{
        position: fixed;
        top: 320px;
        left: 1300px;   
    }
}

@media(max-width: 1440px){
    .form-flex-container{
        position: fixed;
        top: 320px;
        left: 1100px;   
    }
}

@media(max-width: 1024px) {
    .form-flex-container{
        position: absolute;
        top: 320px;
        left: 720px;   
    }
}

@media(max-width:500px) {
    .form-flex-container{
         display: none;
    }
}