.call-description{
    text-align: left;
    font-style: italic;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 34px;
    padding-top: 60px;
    font-variant: normal;
    font-stretch: normal;
}

.section-description {
    height: 600px;
    padding-bottom: 30px;
}

.section-description-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.section-flex-item-description{
    display: flex;
    flex-direction: column;
}

.img-description-1{
    background: transparent url('../../../assets/imgs/Retângulo\ 16.png') 0% 0%;
    background-size: cover;
    width: 164px;
    height: 95px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    opacity: 1;
}

.img-description-2{
    background: transparent url('../../../assets/imgs/Retângulo\ 19.png') 0% 0%;
    background-size: cover;
    width: 164px;
    height: 95px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    opacity: 1;
}

.img-description-3{
    background: transparent url('../../../assets/imgs/Retângulo\ 21.png') 0% 0%;
    background-size: cover;
    width: 164px;
    height: 95px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    opacity: 1;
}

.img-description-4{
    margin-right: 120px;
    background: transparent url('../../../assets/imgs/juntosi.png') 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 212px;
    width: 679px;
    opacity: 1;
}

.car-description{
    font-size: 18px;
    opacity: 1;
    color: #000000;
    text-align: left;
    letter-spacing: 0px;
    font-weight: 400;
    width: 85%;
}